body {
  background-color: #069;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: large;
}

.block_texts {
  font-size: medium;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  background-color: #4CAF50;
  border-color: #C2B280;
  border-radius: 1.5pc;
  padding: 8px 16px;
  text-decoration: none;
  box-shadow: 5px 5px 25px #C2B280;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.buttons-container button {
  background-color: #4CAF50;
  border-color: #C2B280;
  border-radius: 1.5pc;
  color: #fff;
  padding: 8px 16px;
  margin: 5px;
  font-size: 32px;
  transition: background-color 0.3s;
}

.buttons-container button:hover {
  background-color: #069a;
}
